h2 {
    font-size: 40px;
    font-weight: 300;    
    color: #65768C;
    margin-top: 0;

}

body {
    color: #282425;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

li {
    font-weight: bold;
}

.znalosti li {
    font-weight: normal;
}

section {
    padding: 50px 15%;
}

.vzdelani,
.zaliby {
    background-color: #A6A198;
}

.paticka {
    color: ivory;
    background-color: #282425;
    text-align: center;
   

}

