.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color:#282425;
}

body {
    color: #282425;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    font-weight: 300;    
    color: #65768C;
    margin-top: 0;
}

li {
    font-weight: bold;
}

.znalosti li {
    font-weight: normal;
}

section {
    padding: 50px 15%;
    overflow: auto;
	}


.prace,
.znalosti {
    background-color: #A6A198;
}

img {
    width: 300px;
}

.foto-ja {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 40px 40px 0;
}

.paticka {
    color: ivory;
    background-color: #282425;
    text-align: center;
    padding: 20px 0;
   

}

